.search {
	display: flex;
	width: 100%;
	gap: 10px;
	border: 1px solid #444;
	padding: 10px;
	border-radius: 8px;
	transition: border-color 0.3s ease;
}

.search:hover {
	border-color: #ffe100;
}

.search_icon {
	width: 16px;
}
.search_input {
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
}
